<div class="max-value">{{max}}</div>

{{#if clicked}}
  <button class="foo-button" {{action clicked "Bob!"}}>Click Me!</button>
{{/if}}
<button class="max-button" {{action (action "getMax") 20}}>Click Me!</button>