<button id="hello-button-1" onclick={{route-action "greet"}}>Greet Hello</button>
<button id="hello-button-2" onclick={{route-action "yell"}}>Yell Hello</button>
<div id="hello-value">
  {{value}}
</div>

<div class="hello-outlet">
  {{outlet}}
</div>